*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;






    }
    body {
      /* body font */
      color: #313838;
      font-family:  Arial, sans-serif;
    }
    
    /*apply styles to <header> */
    header {
      padding: 40px 10px;
      background-color: #454949;
    }
      .intro{
        background-image: url("../images/background.jpg");
        height: 350px;
        padding:-60px;
  background-size: cover;
  background-position: center;
  position: relative;
}

    
    /*let's select all <a> that are in <header h1> and do this with them */
    h1 {
      color: #313838;
      background-color: #85bfe0;
      font-size: 36px;
      text-indent: 55px;
     
      font-weight: bold;
      margin: -19px;
      position: absolute;
     
    
     
    }
  
  header a {
    text-decoration: none;
    color: #85bfe0;
    
    
   
  }
  header nav {
    float: right; 
    margin: 7px 0;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 20px;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: underline;
  }


  .intro h2 {
    color: #313838;
    background-color: #85bfe0;
    padding: 20px;
    width: 300px;
    position: absolute;
    bottom: 15px;
    right: 15px;
 
  
}

  .bio h2 {
  color: #024e76;
  font-size: 30px;
  padding: 10px;
    border-right: 2px solid #024e76;
    height: 200px;
    position: absolute;
    left:11%;
    margin-right: 30px;
    bottom: 290px;
   
  }

    
  .bio  { 
    width: 900px;
    margin: 0 auto 30px auto;
    padding:50px;
  
    overflow: auto;
    color: #256385;

   
    

  
}
  .work h2{
    color: #024e76;
    font-size: 30px;
   padding: 10px;
    border-right: 2px solid #024e76;
    height: 330px;
    position: absolute;
    left:14%;
    margin-right: 30px;
    bottom: -70px;
  
  }
  .work p {
    padding: 200px;
    float: right;
    width: 70%;
    color: #256385;

  }
.contact nav {
  width: 900px;
  margin: 0 auto 30px auto;
  padding:80px;
  overflow: auto;
}
 
.contact nav ul li {
  display: inline;
}
.contact nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  color: #256385;

  font-size: 18px;
  width: 900px;
  left: 40px;

}
  .contact h2 {
 color: #024e76;
 font-size: 30px;
  padding: 30px;
    border-right: 2px solid #024e76;
    height: 100px;
    position: absolute;
    left: 7%;
    margin-right: 30px;
    bottom: -260px;
  }
section {
  padding: -1px;
}